a {
  text-decoration:none !important;
}

.btn-body {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  color: #8cdcda;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  transition: all 0.2s ease;
  background-color: rgb(245, 135, 141, 0.0
)
}

.btn-body.active {
background-color: rgb(245, 135, 141, 1);
color: #E6F8F7;
transform: scale(1.05);
}

.btn-body:hover {
color: #E6F8F7;
}

.btn-title {
  margin: 4px auto;
  font-weight: 600;
  font-size: 14px;
}